<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha Publicaron</th>
            <th>Resenas</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.id_libro }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.fecha_publicacion }}</td>
            <td>{{ libro.resena }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
